# Unneeded files and directories
.idea
.vscode

back/back/__pycache__
back/env
back/stores/__pycache__
back/stores/migrations/__pycache__
back/db.sqlite3

front/android/app/.cxx
front/ios
front/linux
front/macos
front/test
front/web
front/windows
front/.metadata
front/analysis_options.yaml
front/pubspec.lock